{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Inative</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="{% static 'img/favicon/inative120x120.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/inative120x120.png' %}">
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">

</head>

<body>

	{% block content %}{% endblock %}

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-3 col-xl-2 col-sm-12 footer-item footer-item-logo">
					<img src="{% static 'img/@1x/inative120x120.png' %}" alt="Inative лого">
					<span>&copy; 2019 inative</span>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-2 col-sm-12 footer-item footer-item-contacts">
					<p class="footer-header">Контакты</p>
					<ul>
						<li><i class="fa fa-envelope"></i> yagafarova76@mail.ru</li>
						<li><i class="fa fa-phone"></i>  8 (917) 272-04-41</li>
					</ul>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-2 col-sm-12 footer-item">
					<p class="footer-header">Покупателю</p>
					<ul>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">Магазин</a></li>
						<li><a href="#">Обучение</a></li>
						<li><a href="#">Акции</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-2 col-sm-12 footer-item">
					<p class="footer-header">О компании</p>
					<ul>
						<li><a href="#">Как нас найти</a></li>
						<li><a href="#">Оплата и доставка</a></li>
						<li><a href="#">Партнерам</a></li>
						<li><a href="#">О нас</a></li>
					</ul>
				</div>
				<div class="col-sm-12 col-xl-4 col-lg-4 col-md-7 footer-item footer-item-feedback">
					<p class="footer-header">Получать новости об акциях</p>
					<form method="POST">
						<input type="text" placeholder="Введите email">
						<input type="submit" value="Подписаться">
					</form>
					<ul class="footer-socials">
						<li><a href="#"><i class="fa fa-vk"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-paper-plane"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="{% static 'js/scripts.min.js' %}"></script>

</body>
</html>
