{% extends 'base.html' %}
{% load static %}

{% block content %}
	<header class="header" style="background-image: url({% static 'img/@1x/main-hero.png' %})">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="top-line">
						<a href="/">
							<img src="{% static 'img/@1x/logo45x45.png' %}" class="top-line-logo" alt="Топ лого">
						</a>
						<ul class="main-menu">
							<ul>
								<li class="mobile-menu">
									<input type="checkbox" class="toggler">
									<a href="#" id="menu"><i class="fa fa-bars"></i></a>
									<nav>
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">Contact</a></li>
											<li><a href="#">Partners</a></li>
										</ul>
									</nav>
								</li>
								<li><a href="#"><i class="fa fa-user"></i></a></li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
							<form method="POST">
								<input type="text" placeholder="&#xF002; Поиск">
							</form>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div class="hero">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-8 col-xs-12 offset-xs-0 col-sm-12 offset-md-1 compasition">
						<img src="{% static 'img/@1x/logotext.png' %}" class="hero-image" alt="Текст лого inative">
						<span>Центр красоты и здоровья</span>
					</div>
				</div>
			</div>
				
			</div>
		</div>
	</header>

	<section class="cards">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-8">
					<a href="#" class="cards-item">
						<img src="{% static 'img/@1x/study.png' %}" alt="Обучение">
						<p>Обучение</p>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-8">
					<a href="{% url 'shop' %}" class="cards-item">
						<img src="{% static 'img/@1x/shop.png' %}" alt="Магазин">
						<p>Магазин</p>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-8">
					<a href="{% url 'services' %}" class="cards-item">
						<img src="{% static 'img/@1x/cosmetology.png' %}" alt="Услуги">
						<p>Услуги</p>
					</a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-8">
					<a href="#" class="cards-item">
						<img src="{% static 'img/@1x/blog.png' %}" alt="Блог">
						<p>Блог</p>
					</a>
				</div>
			</div>			
		</div>
	</section>
{% endblock %}
