{% extends 'base.html' %}
{% load static %}

{% block content %}

  <header class="header shop-cards-header">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="top-line">
						<a href="/">
							<img src="{% static 'img/@1x/logo45x45.png' %}" class="top-line-logo" alt="Топ лого">
						</a>
						<ul class="main-menu">
							<ul>
								<li class="mobile-menu">
									<input type="checkbox" class="toggler">
									<a href="#" id="menu"><i class="fa fa-bars"></i></a>
									<nav>
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">Contact</a></li>
											<li><a href="#">Partners</a></li>
										</ul>
									</nav>
								</li>
								<li><a href="#"><i class="fa fa-user"></i></a></li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
							<form method="POST">
								<input type="text" placeholder="&#xF002; Поиск">
							</form>
						</ul>
					</div>
				</div>
			</div>
		</div>
    <div class="shop-hero">
      <div class="uslugi-logo">
        <img src="{% static 'img/@1x/logotext.png' %}" alt="Лого inative">
      </div>
    </div>
  </header>

  <section class="shop-cards">
    <div class="container">
      <div class="row">
        <div class="col-md-3 offset-md-0 col-sm-8 offset-sm-2 col-8 offset-2">
          <div class="shop-cards__filter">
            <p>Фильтр по производителю</p>
            <div class="select">
              <select>
                <option value="1">-</option>
              </select>
            </div>

            <p>Фильтр по типу кожи</p>
            <div class="select">
              <select>
                <option value="1">-</option>
              </select>
            </div>
          </div>

          <div class="accordion">
            <div class="accordion-item open">
              <button class="accordion-button">
                Лицо
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up"></i>
              </button>
              <div class="answer">
                <ul>
                  <li><a href="#">Очищение</a></li>
                  <li><a href="#">Увлажнение</a></li>
                  <li><a href="#">Интенсивный уход за областью вокруг глаз</a></li>
                  <li><a href="#">Интенсивный уход Anti Acne</a></li>
                  <li><a href="#">Мультикислотные пилинги</a></li>
                  <li><a href="#">Аппаратная косметология</a></li>
                </ul>
              </div>
            </div>

            <div class="accordion-item">
              <button class="accordion-button">
                Тело
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up"></i>
              </button>
              <div class="answer">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Home</a></li>
                </ul>
              </div>
            </div>

            <div class="accordion-item">
              <button class="accordion-button">
                Чай
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up"></i>
              </button>
              <div class="answer">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Home</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-5">
              <img src="{{ product.img.url }}" class="product-image" alt="">
            </div>
            <div class="col-7 product-details">
                <h1 class="h1">{{ product.name }} {{ product.volume }} мл <span>{{ product.price }}<i class="fa fa-rub"></i></span></h1>
                <form>
                    <div class="select">
                        <select>
                            <option value="10">10 шт.</option>
                        </select>
                        <i class="fa fa-chevron-down"></i>
                    </div>

                    <button class="btn btn-product">В корзину</button>
                    <i class="fa fa-heart"></i>
                </form>
                <p class="product-description">{{ product.description }}</p>
            </div>
          </div>
        </div>
    </div>

  </section>
{% endblock %}
