{% extends 'base.html' %}
{% load static %}

{% block content %}
	<header class="header uslugi-header" style="background-image: url({% static 'img/@1x/uslugi-hero.jpg' %})">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="top-line">
						<a href="/">
							<img src="{% static 'img/@1x/logo45x45.png' %}" class="top-line-logo" alt="Топ лого">
						</a>
						<ul class="main-menu">
							<ul>
								<li class="mobile-menu">
									<input type="checkbox" class="toggler">
									<a href="#" id="menu"><i class="fa fa-bars"></i></a>
									<nav>
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">Contact</a></li>
											<li><a href="#">Partners</a></li>
										</ul>
									</nav>
								</li>
								<li><a href="#"><i class="fa fa-user"></i></a></li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
							<form method="POST">
								<input type="text" placeholder="&#xF002; Поиск">
							</form>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="uslugi-hero">
      <div class="uslugi-logo">
        <img src="{% static 'img/@1x/logotext.png' %}" alt="Лого inative">
      </div>
      <div class="uslugi-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="h1">При записи онлайн -<br>диагностика кожи в подарок</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-9">
              <a class="btn" href="#">Записаться онлайн</a>
            </div>
          </div>
        </div>
			</div>
		</div>
	</header>

  <section class="cosmetology">
    <div class="container">
      <div class="cosmetology-list">
        <h3 class="h3">Косметология</h3>
        <ul>
          {% for service in services %}
          <li class="cosmetology-item">
            <div class="row">
              <div class="col-12 col-md-9 col-sm-9 col-xs-9 col-xl-9">{{ service.title }}</div>
              <div class="col-0 col-md-3 col-sm-3 col-xs-3col-xl-3">
                <p class="rub">{{ service.price }} <i class="fa fa-rub"></i></p>
              </div>
            </div>
            <p class="cosmetology-description">
              {{ service.description }}
            </p>
            <p class="mobile-rub">{{ service.price }} <i class="fa fa-rub"></i></p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
