{% extends 'base.html' %}
{% load static %}

{% block content %}
	<header class="header shop-header" style="background-image: url({% static 'img/@1x/shop-background.png' %})">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="top-line">
						<a href="/">
							<img src="{% static 'img/@1x/logo45x45.png' %}" class="top-line-logo" alt="Топ лого">
						</a>
						<ul class="main-menu">
							<ul>
								<li class="mobile-menu">
									<input type="checkbox" class="toggler">
									<a href="#" id="menu"><i class="fa fa-bars"></i></a>
									<nav>
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">Contact</a></li>
											<li><a href="#">Partners</a></li>
										</ul>
									</nav>
								</li>
								<li><a href="#"><i class="fa fa-user"></i></a></li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
							<form method="POST">
								<input type="text" placeholder="&#xF002; Поиск">
							</form>
						</ul>
					</div>
				</div>
			</div>
		</div>
    <div class="shop-hero">
      <div class="uslugi-logo">
        <img src="{% static 'img/@1x/logotext.png' %}" alt="Лого inative">
      </div>
      <div class="container shop-hero__composition">
		<div class="row">
			<div class="col-md-6">
				<div class="shop-hero__title">Акция!</div>
				<div class="shop-hero__description">При первой покупке на сумму от <span class="shop-hero__price">3000<i class="fa fa-rub"></i></span>	 тоник AQUAton Роза, Виноград или Апельсин в подарок!</i></div>
				<a href="#" class="btn shop-hero__link">К покупкам!</a>
			</div>
		</div>
      </div> 
    </div>
  </header>

<section>
	<div class="magazin-cards">
		<a href="{% url 'category' 'oczisczenie' %}" class="cards__item">
			<img src="{% static 'img/@1x/bathroom.png' %}" alt="Очищение">
			<p>Очищение</p>
		</a>
		<a href="#" class="cards__item">
			<img src="{% static 'img/@1x/bathroom.png' %}" alt="Блог">
			<p>Блог</p>
		</a>
		<a href="#" class="cards__item">
			<img src="{% static 'img/@1x/bathroom.png' %}" alt="Блог">
			<p>Блог</p>
		</a>
		<a href="#" class="cards__item">
			<img src="{% static 'img/@1x/aromagy.png' %}" alt="Блог">
			<p>Блог</p>
		</a>
	</div>

	<div class="magazin-cards magazin-cards__second">
		<a href="#" class="cards__item">
			<img src="{% static 'img/@1x/bathroom.png' %}" alt="Блог">
			<p>Блог</p>
		</a>
		<a href="#" class="cards__item">
			<img src="{% static 'img/@1x/bathroom.png' %}" alt="Блог">
			<p>Блог</p>
		</a>
	</div>

</section>

{% endblock %}